"*":
  "atom-ctags":
    autoBuildTagsWhenActive: true
    buildTimeout: 10000
    cmdArgs: "--exclude=.git/ --exclude=log/ --exclude=tmp/ --exclude=vendor/"
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "vim-mode"
      "ex-mode"
      "symbols-view"
    ]
    excludeVcsIgnoredPaths: true
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    projectHome: "/Users/guilffer/Code"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "atom-light-syntax"
    ]
  editor:
    fontFamily: "Monaco"
    fontSize: 13
    invisibles: {}
    lineHeight: 1.4
    showIndentGuide: true
    softWrap: true
  "git-diff":
    showIconsInEditorGutter: true
  "linter-codeclimate":
    init: false
  "one-dark-ui": {}
  "one-light-ui": {}
  "release-notes":
    viewedVersion: "0.71.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "symbols-generator": {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view": {}
  "vim-mode":
    startInInsertMode: true
  welcome:
    showOnStartup: false
